// Importar estilos base del calendario
//@import "../node_modules/angular-calendar/css/angular-calendar.css";

@import "../../../../node_modules/angular-calendar/css/angular-calendar.css";

.calendario-container {
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);

  .controles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    
    h3 {
      text-transform: capitalize;
    }

    button {
      padding: 8px 16px;
      cursor: pointer;
      background: #198754;
      color: white;
      border: none;
      border-radius: 4px;
      &:hover { background: #136941; }
    }
  }
}

/* Estilo para los días pasados en la vista de mes */
::ng-deep .cal-month-view .cal-day-cell.cal-past {
    background-color: #f8f9fa !important; /* Gris clarito */
    pointer-events: none; /* Desactiva los clics */
    opacity: 0.6;
}

/* Opcional: tachar el número del día */
::ng-deep .cal-month-view .cal-day-cell.cal-past .cal-day-number {
    text-decoration: line-through;
    color: #adb5bd;
}

// Estilo para que el día seleccionado resalte
.cal-day-selected {
  background-color: #e0f0ff !important;
}