<main>
    <header class="blog-header text-center text-white d-flex align-items-center">
        <div class="container">
            <h1 class="display-4 fw-bold">Bienestar & Naturaleza</h1>
            <p class="lead">Consejos para una vida más equilibrada con CarlaNatura</p>
        </div>
    </header>

    <section id="blog-list" class="container py-5">
        <div class="row g-4">
            @for (post of articulos; track post.id) {
            <div class="col-12 col-md-6 col-lg-4">
                <article class="card h-100 blog-card border-0 shadow-sm">
                    <div class="blog-img-wrapper">
                        <img [src]="post.imagen" [alt]="post.titulo" class="card-img-top">
                        <span class="badge-categoria">{{ post.categoria }}</span>
                    </div>

                    <div class="card-body p-4">
                        <small class="text-muted">{{ post.fecha }} • {{ post.lectura }} min</small>
                        <h3 class="h5 fw-bold mt-2 mb-3 text-dark">{{ post.titulo }}</h3>
                        <p class="text-muted small">{{ post.resumen }}</p>
                    </div>

                    <div class="card-footer bg-transparent border-0 p-4 pt-0">
                        <!-- Si el post es externo lo redirige sino no -->
                        @if (post.esExterno) {
                        <a [href]="post.urlExterna" target="_blank" rel="noopener noreferrer" class="btn-leer externo">
                            Saber más
                            <i class="bi bi-box-arrow-up-right ms-1"></i>
                        </a>
                        }
                        @else {
                        <a [routerLink]="['/blog', post.id]" class="btn-leer">
                            Leer artículo
                            <i class="bi bi-arrow-right ms-1"></i>
                        </a>
                        }

                    </div>
                </article>
            </div>
            }
        </div>
    </section>
</main>